.column {
  padding: 20px 30px;
  color: rgb(250, 250, 250);
  font-family: monospace;
  text-shadow: 4px 4px 5px red;
}
.button {
  background:#c93434;
  color:#fff;
  border:none;
  position:relative;
  height:25px;
  font-size:1em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.button:hover{
  background:#fff;
  color:#c93434;
}
.button:before,.button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #c93434;
  transition:900000ms ease all;
}
.button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.button:hover:before,.button:hover:after{
  width:100%;
  transition:800ms ease all;
}


#instructions{
  font-size: 21px;
  color: white;
}

#dashboard {
  padding: 5px;
  position: relative;
}

#left, #center {
  width: 33.33%;
  display: inline-block;
  box-sizing: border-box;
}

#center {
  position: absolute;
  top: 0;
  right: 33.33%;
}

#left {
  position: absolute;
  top: 0;
  left: 0;
}

#right {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
}

#left, #center, #right {
  background: rgba(1, 1, 31, 0.5);
  margin: 0;
  height: 300px;
  border: 1px solid black;
}

#right {
  width: 33.33%;
}

#error {
  text-align: center;
  text-emphasis-color: red;
}

.container {
  font-size: medium; 
}
  
.new-player-form {
  font-family: monospace;
}

.bodyyyy{
  text-align: center;
  font-family: monospace;
  text-shadow: 4px 4px 5px red;
  height: 100%;
  background-image: url(IMG_4311.PNG);  background-repeat: no-repeat; background-size: cover; background-position: center;
  background-color: #ccff99;
}

#score-count {
  text-align: center;
  text-emphasis-color: blue;
  font-family: monospace;
  text-shadow: 4px 4px 5px red;
}
body{
  margin: 0;
  padding:0;
  background: #262626
}
h2{
  margin: 0;
  padding: 0;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 span{
  color: #fff;
  padding: 5px 15px;
  font-family: monospace;
  display: table-cell;
  font-size: 400;
  text-shadow: 4px 4px 5px red;
}

h2:hover span{
  animation: animate .5s infinite;
  
}

@keyframes animate{
  0%{
      transform: translateY(0);
  }
  50%{
    transform: translateY(-30px);
  }
  100%{
    transform: translateY(0);
  }
}
h2 span:nth-child(1){
  animation-delay: .1s;
}
h2 span:nth-child(2){
  animation-delay: .3s;
}
h2 span:nth-child(3){
  animation-delay: .5s;
}
h2 span:nth-child(4){
  animation-delay: .7s;
}
h2 span:nth-child(5){
  animation-delay: .9s;
}
h2 span:nth-child(6){
  animation-delay: .0s;
}
h2 span:nth-child(7){
  animation-delay: .1s;
}
h2 span:nth-child(8){
  animation-delay: .3s;
}
h2 span:nth-child(9){
  animation-delay: .5s;
}
h2 span:nth-child(10){
  animation-delay: .7s;
}

.body{
  margin: 0;
  padding:0;
  background: #262626
}
h1{
  margin: 0;
  padding: 0;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 span{
  color: #fff;
  padding: 5px 15px;
  font-family: monospace;
  display: table-cell;
  font-size: 400;
  text-shadow: 4px 4px 5px red;
}

h1:hover span{
  animation: animate .5s infinite;
  
}

@keyframes animate{
  0%{
      transform: translateY(0);
  }
  50%{
    transform: translateY(-30px);
  }
  100%{
    transform: translateY(0);
  }
}

h1 span:nth-child(1){
  animation-delay: .1s;
}
h1 span:nth-child(2){
  animation-delay: .3s;
}
h1 span:nth-child(3){
  animation-delay: .5s;
}
h1 span:nth-child(4){
  animation-delay: .7s;
}
h1 span:nth-child(5){
  animation-delay: .9s;
}
h1 span:nth-child(6){
  animation-delay: .0s;
}
h1 span:nth-child(7){
  animation-delay: .1s;
}
h1 span:nth-child(8){
  animation-delay: .3s;
}
h1 span:nth-child(9){
  animation-delay: .5s;
}
h1 span:nth-child(10){
  animation-delay: .7s;
}



